<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="drive.DriveMapper">

	<select id="selectDriveInfo" resultType="drive.Drive">
		SELECT
		d.drive_name,u.u_name,d.drive_id,d.d_id
		FROM [drive] d JOIN [users] u ON
		d.id=u.id AND u.d_id=#{d_id}
	</select>
	
	<select id="selectFolderAll" resultType="drive.Folder">
		SELECT * FROM [folder]
	</select>
	
	<select id="selectBydr_id" resultType="drive.Folder">
		SELECT *
		FROM drive
		WHERE
		drive_id=#{dr_id}
	</select>
	
	<select id="selectDrive" resultType="drive.Drive">
		SELECT * FROM [drive] where drive_id=#{drive_id}
	</select>
	
	<select id="selectBydr_id1" resultType="drive.Folder">
		SELECT
		folder_id,folder_name,drive_id,parent_id
		FROM folder
		WHERE
		drive_id=#{dr_id}
	</select>

	<select id="selectBydr_id2" resultType="drive.Folder">
		SELECT sfolder_id,
		sfolder_name,drive_id,sfolder_pw
		FROM share_folder
		WHERE
		drive_id=#{dr_id}
	</select>

	<select id="selectBypr_id" resultType="drive.Folder">
		SELECT folder_id,
		folder_name,drive_id,parent_id
		FROM folder
		WHERE parent_id=#{pr_id}
	</select>

	<select id="selectByf_id" resultType="drive.Files">
		SELECT files_id,
		files_name, files_size,files_date,folder_id
		FROM files
		WHERE
		folder_id=#{folder_id}
	</select>
	
	<select id="selectByff_id" resultType="drive.Files">
      SELECT *
      FROM files
      WHERE
      files_id=#{files_id}
   	</select>
   	
   	<select id="selectByfd_id" resultType="drive.Folder">
      SELECT *
      FROM [folder]
      WHERE
      folder_id=#{fd_id}
   	</select>
	
	<insert id="insert_folder" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO [folder] (folder_name, drive_id, parent_id)
		VALUES
		(#{folder_name},#{drive_id}, null)
	</insert>
	<insert id="insert_folder2" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO [folder] (folder_name, drive_id, parent_id)
		VALUES
		(#{folder_name},#{drive_id}, #{folder_id})
	</insert>

	<insert id="insert_sfolder" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO [share_folder] (sfolder_name, drive_id, sfolder_pw)
		VALUES
		(#{sfolder_name},#{drive_id},#{sfolder_pw})
	</insert>

	<insert id="insert_files" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO [files] (files_name, files_size, files_date,folder_id,files_body)
		VALUES (#{files_name},#{files_size},GETDATE(),#{folder_id}, #{files_body})
	</insert>
	
	

	<insert id="insert_favorites" useGeneratedKeys="true"
		keyProperty="id">
		INSERT
		INTO [my_join_folder] (id, folder_id)
		VALUES
		(#{id},#{folder_id})
	</insert>
	
	<insert id="insert_favorites_drive" useGeneratedKeys="true"
		keyProperty="id">
		INSERT
		INTO [my_join_drive] (id, drive_id)
		VALUES
		(#{id},#{drive_id})
	</insert>


	<select id="selectPage" resultType="drive.Files">
        <![CDATA[
        SELECT * FROM 
        (SELECT files_name,files_size,files_date,
        CASE #{order}
            WHEN 0 THEN ROW_NUMBER() OVER (ORDER BY files_name asc)
            WHEN 1 THEN ROW_NUMBER() OVER (ORDER BY files_name desc)
            WHEN 2 THEN ROW_NUMBER() OVER (ORDER BY files_date asc)
            WHEN 3 THEN ROW_NUMBER() OVER (ORDER BY files_date desc)
        END 행번호
        FROM [files]
        WHERE
        	(#{srchType}=0)OR
        	(#{srchType}=1 AND CHARINDEX(#{srchText},files_id)>0)OR
        	(#{srchType}=2 AND CHARINDEX(#{srchText},files_name)>0)OR
        	(#{srchType}=3 AND CHARINDEX(#{srchText},files_body)>0)
        	)subquery
        WHERE 행번호 > (#{currentPage} - 1) * #{pageSize} AND 행번호 <= #{currentPage} * #{pageSize}
        ]]>
	</select>

	<select id="selectPage2" resultType="drive.Folder">
        <![CDATA[
        SELECT * FROM 
        (SELECT folder_id,folder_name,
        CASE #{order}
            WHEN 0 THEN ROW_NUMBER() OVER (ORDER BY folder_id asc)
            WHEN 1 THEN ROW_NUMBER() OVER (ORDER BY folder_id desc)
            WHEN 2 THEN ROW_NUMBER() OVER (ORDER BY folder_name asc)
            WHEN 3 THEN ROW_NUMBER() OVER (ORDER BY folder_name desc)
        END 행번호
        FROM [folder]
        WHERE
        	(#{srchType}=0)OR
        	(#{srchType}=1 AND CHARINDEX(#{srchText},folder_id)>0)OR
        	(#{srchType}=2 AND CHARINDEX(#{srchText},folder_name)>0)
        	)subquery
        WHERE 행번호 > (#{currentPage} - 1) * #{pageSize} AND 행번호 <= #{currentPage} * #{pageSize}
        ]]>
	</select>


	<select id="selectCount" resultType="int"> SELECT COUNT(*) FROM
		[files]
	</select>

	<select id="selectCount2" resultType="int"> SELECT COUNT(*) FROM
		[folder]
	</select>

	<delete id="deleteFolder">
		DELETE [folder] WHERE [folder_id] = #{folder_id}
	</delete>
	<delete id="deleteFiles">
		DELETE [files] WHERE [files_id] = #{files_id}
	</delete>
	

</mapper>