<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="drive.UserMapper">

	<select id="selectById" resultType="drive.User">
		SELECT * FROM [users] WHERE
		id=#{id}
	</select>

	<select id="selectByU_id" resultType="drive.User">
		SELECT * FROM [users] WHERE
		u_id = #{u_id}
	</select>

	<select id="selectAll" resultType="drive.User">
		SELECT * FROM [users]
	</select>

	<select id="checkQA" resultType="drive.User">
		SELECT * FROM [users]
		WHERE u_id=
		#{u_id} AND u_qpw=#{u_qpw} AND u_apw=#{u_apw}
	</select>

	<select id="selectMyFolder" resultType="drive.User">
		SELECT
		f.drive_id,f.folder_id,f.folder_name FROM my_join_folder m JOIN folder f
		ON m.folder_id=f.folder_id AND m.id=#{id}
	</select>

	<select id="selectMyDrive" resultType="drive.User">
		SELECT
		d.drive_id,d.drive_name FROM my_join_drive m JOIN drive d
		ON
		m.drive_id=d.drive_id AND m.id=#{id}
	</select>

	<select id="selectDrive" resultType="drive.Drive">
		SELECT drive_id 
		FROM drive
		WHERE id=#{id}
	</select>

	<select id="selectPage" resultType="drive.User">
        <![CDATA[
        SELECT * FROM 
        (SELECT id,u_id,u_name,u_email,u_tel,u_grade,
        CASE #{order}
            WHEN 0 THEN ROW_NUMBER() OVER (ORDER BY u_id)
            WHEN 1 THEN ROW_NUMBER() OVER (ORDER BY u_name)
        END 행번호
        FROM [users]
        WHERE
        	(#{srchType}=0)OR
        	(#{srchType}=1 AND CHARINDEX(#{srchText},u_id)>0)OR
        	(#{srchType}=2 AND CHARINDEX(#{srchText},u_name)>0)OR
        	(#{srchType}=3 AND #{srchText}=u_grade)
        	)subquery
        WHERE 행번호 > (#{currentPage} - 1) * #{pageSize} AND 행번호 <= #{currentPage} * #{pageSize}
        ORDER BY 행번호
        ]]>
	</select>

	<select id="selectCount" resultType="int">
		SELECT COUNT(*)
		FROM [users]
		WHERE
		(#{srchType}=0)OR
		(#{srchType}=1 AND
		CHARINDEX(#{srchText},u_id)>0)OR
		(#{srchType}=2 AND
		CHARINDEX(#{srchText},u_name)=1)OR
		(#{srchType}=3 AND
		#{srchText}=u_grade)
	</select>


	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT
		[users]
		(u_id, u_pw, u_name, u_tel, u_email, u_grade, u_qpw, u_apw,
		u_auth, d_id)
		VALUES
		(#{u_id}, #{u_pw}, #{u_name}, #{u_tel}, #{u_email},
		#{u_grade}, #{u_qpw}, #{u_apw}, 1, #{d_id})
	</insert>
	
	<insert id="insert_drive_user" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO [drive] (drive_name, d_id,id,d_auth)
		VALUES
		(#{u_name},#{d_id},#{id},1)
	</insert>

	<insert id="insert_drive" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO [drive] (drive_name, d_id,id,d_auth)
		VALUES
		(#{u_name},#{d_id},#{id},2)
	</insert>


	<insert id="insertP" useGeneratedKeys="true" keyProperty="id">
		INSERT
		[users]
		(u_id, u_pw, u_name, u_tel, u_email, u_grade, u_qpw, u_apw,
		u_auth, d_id)
		VALUES
		(#{u_id}, #{u_pw}, #{u_name}, #{u_tel},
		#{u_email},999, #{u_qpw}, #{u_apw}, 2, #{d_id})
	</insert>

	<update id="update">
		UPDATE [users] SET
		u_name = #{u_name},
		u_email =
		#{u_email},
		u_tel = #{u_tel},
		u_auth =
		#{u_auth},
		u_qpw = #{u_qpw},
		u_apw =
		#{u_apw},
		u_grade = #{u_grade},
		d_id
		= #{d_id}
		WHERE id =#{id}
	</update>

	<update id="user_update">
		UPDATE [users] SET
		u_name = #{u_name},
		u_pw = #{u_pw},
		u_email = #{u_email},
		u_tel = #{u_tel},
		u_qpw = #{u_qpw},
		u_apw =
		#{u_apw},
		u_grade = #{u_grade},
		d_id = #{d_id}
		WHERE id = #{id}
	</update>

	<update id="updatePW">
		UPDATE [users] SET
		u_pw = #{u_pw}
		WHERE id=#{id} AND
		u_email=#{u_email}
	</update>

	<update id="changePW">
		UPDATE [users] SET
		u_pw = #{u_pw}
		WHERE id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM [users] WHERE id = #{id}
	</delete>

	<delete id="deleteJoinFolder">
		DELETE [my_join_folder] WHERE [folder_id] =
		#{folder_id}
	</delete>
	<delete id="deleteJoinDrive">
		DELETE [my_join_drive] WHERE [drive_id] = #{drive_id}
	</delete>

	<select id="selectProfessor" resultType="drive.Drive">
		SELECT * FROM
		[professor] WHERE d_id=#{d_id}
	</select>


</mapper>